<% content_for :title, "Checklist" %>
<nav class="navbar navbar-default" role="navigation">
  <div id="navhead" class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Checklist</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="searchbar" class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">   
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
  <h1 id="title"> My Checklist </h1>
  <%= link_to new_checklist_path, :id => 'add_new', :class => 'btn btn-link', :"data-target" => "#createChecklist" do%>
    <span class="glyphicon glyphicon-plus"></span>  
    Add Checklist
  <% end %>
  <div class="modal fade" id="createChecklist" tabindex="-1" role="dialog" aria-labelledby="createChecklistLabel" aria-hidden="true">
    <div class="modal-dialog"><div class="modal-content"></div></div>
  </div>
  <hr>
  <% if @checklists.size > 0 %>
    <table>
      <tr>
        <th> Title </th>
        <th> Actions </th>
      </tr>

    <div class="col-lg-12" style="padding:0px">
    <% @checklists.each_with_index do |checklist,i| %>
      <div class="col-lg-4" style="padding:0px">
          <div class="rectangle_list">
            <div class="rectangle-container" style="width:300px; height:100px">
              <div class="main-content">
                <div class="col-lg-12" style="padding:0px; wid">
                  <div class="pull-right">
                    <span class="icons glyphicon glyphicon-pencil"></span>
                  </div>
                  <%= link_to checklist_path(checklist), :class => 'content' do%>
                  <%= checklist.title %>
                </div>
                
                <% end %>
              </div>
              <!-- <td>
                  <p>  
                    <%= link_to 'Edit', edit_checklist_path(checklist) %> | 
                    <%= link_to 'Delete', checklist_path(checklist), method: :delete, data: { confirm: 'Are you sure?' } %> 
                  </p>
              </td> -->
            </div>
          </div>
      </div>

      <% if (i+1)%3==0 %>
        </div>
        <div class="col-lg-12" style="padding:0px">
      <% end %>
    <% end %>

    </table>
  <% else %>
    <h3> There are no checklists. </h3>
  <% end %>
</div>
