<% content_for :title, @checklist.title %>
<h1> <%= @checklist.title %> </h1>
<h3> <%= @checklist.description %> </h3>
<%= link_to 'Edit', edit_checklist_path(@checklist) %>

<h2> Items </h2>
<% if @checklist.items.size > 0 %>
  <ul>
  <% @checklist.items.each do |item| %>
    <li> <%= item.content %>
    <%= link_to 'Edit', edit_checklist_item_path(@checklist, item) %> | 
    <%= link_to 'Delete', checklist_item_path(@checklist, item), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
  </ul>
<% else %>
  <p> There are no items. </p>
<% end %>


<%= render "items/form" %>

<%= link_to 'Checklists', checklists_path %>

<!--
<h2> Prerequisites: </h2>
<h2> ToDo's: <h2>-->
