<% content_for :title, @checklist.title %>
<h1> <%= @checklist.title %> </h1>
<h3> <%= @checklist.description %> </h3>
<%= link_to 'Edit', edit_checklist_path(@checklist) %> | 
<%= link_to 'Back', checklists_path %>

<h2> Prerequisites </h2>
<% if @prereqs.size > 0 %>
  <ul>
  <% @prereqs.each do |item| %>
    <li> <%= item.content %> <%= link_to "Edit" %> </li>
  <% end %>
  </ul>
<% else %>
  <p> There are no prerequisites. </p>
<% end %>

<h2> ToDo's </h2>
<% if @todos.size > 0 %>
  <ul>
  <% @todos.each do |item| %>
    <li> <%= item.content %> <%= link_to "Edit" %> </li>
  <% end %>
  </ul>
<% else %>
  <p> There are no prerequisites. </p>
<% end %>


<%= render "items/form" %>

<!--
<h2> Prerequisites: </h2>
<h2> ToDo's: <h2>-->
